# Idea configs
*.idea
.idea/*
public/images/*
node_modules/async
node_modules/cheerio
node_modules/contextify
node_modules/express
node_modules/jade
node_modules/jsdom
node_modules/mongodb
node_modules/mongojs
node_modules/request
node_modules/sanitizer
node_modules/thumbbot
node_modules/underscore
node_modules/url
node_modules/urlify
*.iml
*.ipr
*.iws